.Box {
  border: 5px solid black;
  display: flex;
  position: relative; /* Added for absolute positioning of buttons */
}

.Task-list-column {
  flex: 0 0 30%;
  border: 5px solid blue; /* Change color as needed */
  /* Additional styling for Task-list can go here */
}

.Task-layout {
  flex: 1;
  border: 5px solid green; /* Change color as needed */
  /* Additional styling for Task-layout can go here */
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0); /* Semi-transparent background */
  z-index: 1000; /* Ensure it appears above other content */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px; /* Set a width for the modal */
  max-width: 90%; /* Responsive width */
}